{% extends 'app/base.html' %}
{% load static %}
{% block content %}

<div class="table-container is-fluid">
    <table class="table is-hoverable">
                <thead>
                    <tr>
                      <th scope="col">User</th>
                      <th scope="col">Sample Received</th>
                      <th scope="col">Seq. Last Week</th>
                      <th scope="col">Sample Pending</th>
                      <th scope="col">Sample Rejected</th>
                      <th scope="col">Reason</th>
                      <th scope="col">Remark</th>
                      <th scope="col">Time</th>
                    </tr>
              </thead>
              <tbody>
                      {%  for d in data %}
                             <tr style="font-size:15px;">
                                 <td>{{d.user}}</td>
                                  <td>{{d.Sample_received}}</td>
                                  <td>{{d.Sequence_last}}</td>
                                  <td>{{d.Sample_pending}}</td>
                                  <td>{{d.sample_rejected}}</td>
                                  <td>{{d.Reason}}</td>
                                  <td>{{d.Remark}}</td>
                                  <td>{{d.Time}}</td>
                             </tr>
                     {% endfor %}           
              </tbody>
    </table>
</div>


{% endblock content %}