{% extends 'app/base.html' %}
{% load static %}
{% block content %}
 <div class="columns is-mobile">
     <div class="column is-full is-one-third-widescreen is-one-quarter-fullhd">
         <div class="table-container">
          <table class="table is-hoverable">
                <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">User</th>
                      <th scope="col">Sample Received</th>
                      <th scope="col">Seq. Last Week</th>
                      <th scope="col">Sample Pending</th>
                      <th scope="col">Sample Rejected</th>
                      <th scope="col">Reason</th>
                      <th scope="col">Remark</th>
                      <th scope="col">Time</th>
                    </tr>
              </thead>
              <tbody>
                  {% for d in data %}
                            <tr>
                              <th scope="row">{{d.id}}</th>
                              <td>{{d.user}}</td>
                              <td>{{d.Sample_received}}</td>
                              <td>{{d.Sequence_last}}</td>
                              <td>{{d.Sample_pending}}</td>
                              <td>{{d.sample_rejected}}</td>
                              <td>{{d.Reason}}</td>
                              <td>{{d.Remark}}</td>
                              <td>{{d.Time}}</td>
                            </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
     </div>
 </div>
</div>
<div class="container is-fluid">
    <div class="columns">
  <div class="column">
    <p class="bd-notification is-info">First column</p>
    <div class="columns is-mobile">
      <div class="column">
        <p class="bd-notification is-info">First nested column</p>
      </div>
      <div class="column">
        <p class="bd-notification is-info">Second nested column</p>
      </div>
    </div>
  </div>
  <div class="column">
    <p class="bd-notification is-danger">Second column</p>
    <div class="columns is-mobile">
      <div class="column is-half">
        <p class="bd-notification is-danger">50%</p>
      </div>
      <div class="column">
        <p class="bd-notification is-danger">Auto</p>
      </div>
      <div class="column">
        <p class="bd-notification is-danger">Auto</p>
      </div>
    </div>
    </div>
    </div>
</div>
{% endblock content %}