{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
 <div class="columns">
     <div class="column is-4">
        <center><h1 class="title is-2 is-center">Upload Data</h1></center>
           <form action="" method="post" novalidate class="shadow p-5 box-shadow-y">
                 {% csrf_token %}
            {% for fm in form %}
                <div class="form-group col-md-12 mb-3">{{ fm.label_tag }} {{fm}}
                    <small class="text-danger">{{fm.errors|striptags}}</small><br>
                </div>
            {% endfor %}
               <div class="col-2 mt-3">
                   <button type="submit" class="btn btn-primary mb-3">Submit</button>
               </div>
           </form>
  </div>

     <div class="column is-8">
         {% if messages %}
           {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} mb-3" {% endif %}>{{ message }}</p>
           {% endfor %}
         {% endif %}
         <center><h1 class="title is-2 is-center">Data Show</h1></center>
         <table class="table is-hoverable ">
           <thead class="box-shadow-y">
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Sample Received</th>
                  <th scope="col">Seq. Last Week</th>
                  <th scope="col">Sample Pending</th>
                  <th scope="col">Sample Rejected</th>
                  <th scope="col">Reason</th>
                  <th scope="col">Remark</th>
                  <th scope="col"></th>
                  <th scope="col">Action</th>
              </tr>
           </thead>
           <tbody>
         {% for d in data %}
                <tr>
                  <th scope="row">{{d.id}}</th>
                  <td>{{d.Sample_received}}</td>
                  <td>{{d.Sequence_last}}</td>
                  <td>{{d.Sample_pending}}</td>
                  <td>{{d.sample_rejected}}</td>
                  <td>{{d.Reason}}</td>
                  <td>{{d.Remark}}</td>
                  <td><a class="button is-warning is-outlined" href="{% url 'update' d.id %}">Edit</a></td>
                  <td><a class="button is-danger is-outlined" href="{% url 'deleted' d.id %}">Delete</a></td>
                </tr>
         {% endfor %}
           </tbody>
         </table>
     </div>
 </div>

{% endblock content %}