{% extends "app/base.html" %}

{% block content %}
<!--Register-->
<div class="columns is-mobile is-variable is-3">
	 <div class="column is-4"></div>
     <div class="column is-4 box-shadow-y">
		 <div class="is-paddingless-horizontel">
		     <center><h1 class="title is-2 is-center">Registration</h1></center>
		 </div>
		 <form action="" method="post" novalidate class="shadow p-5 ">
		   {% if messages %}
			  {% for message in messages %}
				 <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
			  {% endfor %}
		   {% endif %}

		   {% csrf_token %}
		     {% csrf_token %}
				<div class="field">
					<label for="" class="label">Username</label>
					<div class="control has-icons-left has-icons-right">
						{{form.username}}
					  <span class="icon is-small is-left">
						<i class="fas fa-user"></i>
					  </span>
					</div>
				</div>
			    <div class="field">
					<label for="" class="label">Password</label>
					<div class="control has-icons-left has-icons-right">
						{{form.password1}}
					  <span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					  </span>
					</div>
				</div>
			    <div class="field">
					<label for="" class="label">Confirm Password</label>
					<div class="control has-icons-left has-icons-right">
						{{form.password2}}
					  <span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					  </span>
					</div>
				</div>
		   <button type="submit"  class="button is-primary">Submit</button>
		   <br>
		   <div class="text-center text-primary fw-bold" >

		   </div>
		   {% if form.non_field_errors %}
			  {% for error in form.non_field_errors %}
				<p class="alert alert-danger mb-3">{{error}}</p>
			  {% endfor %}
		   {% endif %}
	   </form>
	 </div>
     <div class="column is-4"></div>
</div>

{% endblock content %}