{% extends "app/base.html" %}

{% block content %}
<!--Register-->
<div class="container pt-5">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h4 class="text-center"> Registration </h4>
         <form action="" method="post" novalidate class="shadow p-5">
       {% if messages %}
          {% for message in messages %}
             <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
          {% endfor %}
       {% endif %}

       {% csrf_token %}
       {% for fm in form %}
       <div class="form-group mb-3">
        {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
       </div>
       {% endfor %}
       <button type="submit"  class="btn btn-primary">Submit</button>
       <br>
       <div class="text-center text-primary fw-bold" >

       </div>
       {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="alert alert-danger mb-3">{{error}}</p>
          {% endfor %}
       {% endif %}
   </form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

{% endblock content %}